:root {
  --marron: #844D36;
  --white_ice: #F8F8F8;
}
.conteiner-ped{
margin: 0 auto;
width: 50%; /* Valor da Largura */


}

.data_ped{
  align-self: stretch;
  background-color: #B87153;
}

.aqui{
  border: 1px solid var(--marron);
  background-color: var(--white_ice);
}

.row{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 1124px;
}
.collapse show{


}

.colun_info_right{
  
  width: 200rem;

  /* align-items: center; */
  justify-content: center 
}

.aaaaaaaaaa{
  
  display: flex;
    align-items: center; 
    justify-content: center; 
}


.card-header{

  flex-direction: row;
  justify-content: center;
  align-items: center

}