
.footer{
  background-color: var(--marron) ;
  color: var(--white_ice);
}
.button-ScrollToTop {

  margin: 0 auto;
  padding: 0.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.button-ScrollToTop section{
  flex: 1;
  display: grid;
  grid-template-columns: 0fr 1fr;
  
  font-weight: 800;
  /* gap: 6.25rem; */
  /* align-content: center; */
}
.button-ScrollToTop img{
  width: 35px;
}